@charset "utf-8";
/*!
 * Calendar interface v1.2b2 / Interface du calendrier v1.2b2
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
.cal-container.picker-overlay{
	position:absolute;
	z-index:1000!important;
	margin-top:-2em;
}

.picker-close {
    float: right;
}

.picker-field{
	width:7em;
}

.picker-toggle-visible, .picker-toggle-hidden{
	/*display:inline;*/
	margin-left:1em;
}

.picker-toggle-visible a, .picker-toggle-hidden a{
	margin-left:0.5em;
}

div.cal-days a{
	text-decoration:underline;
}

div.cal-days ol.cal-day-list li.datepicker-selected a{
	background-color:#600;
	/* color:#FFF; */
}
